JavaCore/.idea/*
JavaOOP/.idea/*
ArrayList/.idea/*
Exception/.idea/*
ExamMatrix/.idea/*
Prj3/.idea/*
ProjTestWithMaven/.idea/*

JavaCore/out/*
JavaOOP/out/*
ArrayList/out/*
Exception/out/*
ExamMatrix/out/*
Prj3/out/*
ProjTestWithMaven/target/*

JavaCore/*.iml
JavaOOP/*.iml
ArrayList/*.iml
Exception/*.iml
ExamMatrix/*.iml
Prj3/*.iml
ProjTestWithMaven/*.iml

ExamMatrix/*.txt

.idea/*
*.iml
*.ini