JavaCore/.idea/*
JavaOOP/.idea/*
ArrayList/.idea/*
Exception/.idea/*
ExamMatrix/.idea/*
Prj3/.idea/*
ProjTestWithMaven/.idea/*
EvenOrOdd/.idea/*
GmailTestWithPageObject/.idea/*
MyExceptions/.idea/*
Oscylohraf/.idea/*
OscylohrafWithPageObject/.idea/*
ScreenShot/.idea/*
UseLogerWithHello/.idea/*
WikiScreen/.idea/*
OscylografPOLog4j/.idea/*

JavaCore/out/*
JavaOOP/out/*
ArrayList/out/*
Exception/out/*
ExamMatrix/out/*
Prj3/out/*
ProjTestWithMaven/target/*
EvenOrOdd/out/*
GmailTestWithPageObject/out/*
MyExceptions/out/*
Oscylohraf/out/*
OscylohrafWithPageObject/out/*
ScreenShot/out/*
UseLogerWithHello/target/*
WikiScreen/out/*
OscylografPOLog4j/target/*

JavaCore/*.iml
JavaOOP/*.iml
ArrayList/*.iml
Exception/*.iml
ExamMatrix/*.iml
Prj3/*.iml
ProjTestWithMaven/*.iml
EvenOrOdd/*.iml
GmailTestWithPageObject/*.iml
MyExceptions/*.iml
Oscylohraf/*.iml
OscylohrafWithPageObject/*.iml
ScreenShot/*.iml
UseLogerWithHello/*.iml
WikiScreen/*.iml
OscylografPOLog4j/*.iml

ExamMatrix/*.txt
WikiScreen/*.png
ScreenShot/*.png
OscylohrafWithPageObject/*.png
OscylohrafWithPageObject/src/log4j2.xml
Oscylohraf/*.png
OscylografPOLog4j/*.png

.idea/*
*.iml
*.ini